/* wowinTech styles for daily sun project */
h1{  font-family: 'Playfair Display', serif;
    font-size: 28px;
}
    

h2{  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

p{font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}



.card{
    background: lightgray;
}
navbar{
    background: red;
}

footer{
    background: black;
    fill: ;
    
}

icons{
    fill: rgb(255, 174, 0);
}
buttons{
    width: 150px;
    border-radius: 20px;
    background:rgb(255, 174, 0);
    color:black;
    font-weight: bold;

}

input{
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;

}

