/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .video{
      width: 100vw;
      height: 50vh;
      overflow: hidden;
  }
  .myVideo{
      height: 70vh;
  }
  .gradient{
    background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 50%, rgb(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
  }

  .black{
      background: black;
  }



  /* ide scroll styling */
   .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  .ssNews {
    display: inline-block;
    width: 60vw;
    height: 40vh;
    margin: 10px;
    color: white;
  }

  .text1{
      position: absolute;
      top: -70px;
  }

  .text2{
    position: relative;
    padding-left: 7px;
  }

  .btn1{
      position: relative;
      bottom: 4px;
      left:105px;
      width: 150px;
  }
  .b1{
    position: relative;
    top: 4px;
  }
/* 
  .row1{
    position: relative;
  } */

  .img{
    position: relative;
    width: 30%;
    padding-left: 10px;

  }
 
.text-muted{
  color: #000;
}
 

a {
  cursor: pointer;
  text-decoration: none;
}
/* This is for the positioning of the Close Link */
/* .popUp{
position: absolute;
height: 100vh;
width: 100vw;
z-index: 5;
padding-left: 10px;
} */

#popupBoxClose {
  font-size: 20px;
  line-height: 15px;
  right: 5px;
  top: 5px;
  position: absolute;
  color: #6fa5e2;
  font-weight: 500;

}


  .pop-content{
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color:orange; /* Fallback color */
    margin: auto;
    padding: 5px;
    z-index: 5;
    padding-left: 20px;
    
  }
  
  /* The Close Button */
   .close {
    color: black;
    float: right;
    font-size: 45px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  .c2{
    text-align: center;
  }
 
  
  