.card-body{
    
  background:lightgray;
  width: 100%;
  
}

a:active{
text-decoration: none;
}

.names{
position: relative;
font-weight: bold;
left:20px;
}


.heading{
  position: relative;
  top: 4px;
}


.myButto{
position: relative;
left: 100px;
bottom:20px;
}
.clicks{
position: relative;
left: 50px;
width: 50%;
height: 20%;
border-radius: 20px;
background: white;
text-align: center;
color: #888;
}

.popUp {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
 /* Fallback color */

}

/* Modal Content */
.pop-content {
position: relative;
margin: auto;
bottom: 50px;
padding: 20px;
width: 80%;
}

/* The Close Button */
.close {
position: relative;
bottom: 70px;
color: black;
font-weight: bold;
float: right;
left: 60px;
font-size: 45px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.submit{
position: relative;
left: 50px;;
height: 20%;
text-align: center;
font-weight: bold;

}

input[type=text], select {
width: 50%;
padding: 14px 20px;
right: 50px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.SubmitF {
position: relative;
text-align: center;
top: -2px;
left: 80px;
margin: 8px 0;
border: none;
cursor: pointer;
}

.SubmitB{
  position: relative;
  top:20px;
}


input[type=submit]:hover {
background-color: red;
}

.form-heading{
  position: relative;
  padding-left: 15px;
}



#fname{
position: relative;
width: 90%;
background: white;
left: 20px;
border: 1px solid rgb(70, 60, 60);

}

#lname{
position: relative;

width: 90%;
background:white;
left: 20px;
border: 1px solid rgb(70, 60, 60);

}
#Tname{
position: relative;
top: 30px;
width: 90%;
background: white;
left: 20px;
border: 1px solid rgb(70, 60, 60);

}

#lopp{
position: relative;
top: 30px;
width: 90%;
background: white;
left: 20px;
height: 40vh;
border: 1px solid rgb(70, 60, 60);

}


#lmage{
position: relative;
top: 30px;
width:90%;
background: white;
left:20px;
border: 1px solid rgb(70, 60, 60);


}

#submit{
position: relative;
left: 80px;
border-radius: 50px;

}

.camera{
position: relative;
bottom: 20px;
z-index: 5px;
left: 20px;
width: 50px;
height: 30px;
}

.title{
  position: relative;
  top: 20px;
}

.Opinion{
  position: relative;
  top: 30px;
}

.Upload{
  position: relative;
  top: 30px;
}


