.card-body{
    
    background:lightgray;
    
}
.card {

    padding-left: 40px;

}
.heading{
    font-family: 'Playfair Display', serif;
}

#myButto{
  position: relative;
  width: 50%;
  height: 25%;
  left: 80px;
  border-radius: 20px;
  background: orange;
}
button{
  position: relative;
  left: 50px;
  width: 50%;
  height: 20%;
  border-radius: 20px;
  background: white;
  text-align: center;
  color: #888;
}

.popUp {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:orange; /* Fallback color */
  
}

/* Modal Content */
.pop-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.submit{
  position: relative;
  left: 50px;
  width: 50%;
  height: 20%;
  border-radius: 20px;
  background:red;
  text-align: center;
  color: white;

}
