h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125em;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 1.75em;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
/* a{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2em;
} */

.btn{
  position: relative;
  padding: 4px;
  border-radius: 20px;
  background-color:  yellow;
  width: 150px;
}
/* Navbar and footer style */

.nav{
    position: fixed;
    z-index: 5;
    height: 60px;
}

.icon{
    fill: yellow;
}
.i1{
  position: relative;
  left: -15px;
}

.i2{
  position: relative;
  left: -5px;
}

.i3{
  position: relative;
  left: 5px;
}

.i4{
  position: relative;
  left: 15px;
}


#menuToggle
  {
    display: block;
    position: relative;
    top: -45px;
    left: 290px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle span
  {
    display: block;
    width: 45px;
    height: 6px;
    margin-bottom: 5px;
    position: relative;
    right: 35px;
    
    background: white;
    border-radius: 3px;
    z-index: 1;
  }
  
  .sidenav {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100vw;
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: red;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  #popupBoxClose {
    font-size: 20px;
    line-height: 15px;
    right: 5px;
    top: 5px;
    position: absolute;
    color: #6fa5e2;
    font-weight: 500;
  
  }
    
    .pop-content{
      position: fixed; /* Stay in place */
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: grey; /* Fallback color */
      padding: 5px;
      z-index: 5;
      padding-left: 20px;
    }
  
    .popUp{
      background-color:lightgrey;
      margin-left: -3px;
      margin-top: 15px;
      width: 90vw;
      height: 94vh;
    }
    
    /* The Close Button */
     .zip {
      color: black;
      float: right;
      font-size: 45px;
      font-weight: bold;
      margin-right: 15px;
    }
    
    .zip:hover,
    .zip:focus {
      color:red;
      text-decoration: none;
      cursor: pointer;
    }
    .c2{
      text-align: center;
    }
   
    .bbt{
      background-color:yellow;
      position: relative;
      height: 40px;
      width: 294px;
      margin-left: 15px;
    }

    .bbt1{
      background-color: grey;
      position: relative;
      height: 40px;
      width: 294px;
      margin-left: 15px;
    }

    .input1{
      position: relative;
      height: 40px;
      width: 294px;
      margin-left: 15px;
  }
    .pp{
      margin-left: 50px;
    }
  
  h2{
    white-space: initial;
  }
  /* .login{
    column-count: 3;
    text-align: center;
    position: sticky;
    color: wheat;
    fill: white;    
  } */
