h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125em;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 1.75em;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
}
/* a{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2em;
} */

.btn{
  position: relative;
  padding: 4px;
  border-radius: 20px;
  background-color:  yellow;
  width: 150px;
}
/* Navbar and footer style */

.nav{
    position: fixed;
    z-index: 5;
    height: 60px;
}

.icon{
    fill: yellow;
}
.i1{
  position: relative;
  left: -15px;
}

.i2{
  position: relative;
  left: -5px;
}

.i3{
  position: relative;
  left: 5px;
}

.i4{
  position: relative;
  left: 15px;
}


#menuToggle
  {
    display: block;
    position: relative;
    top: -45px;
    left: 290px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle span
  {
    display: block;
    width: 45px;
    height: 6px;
    margin-bottom: 5px;
    position: relative;
    right: 35px;
    
    background: white;
    border-radius: 3px;
    z-index: 1;
  }
  
  .sidenav {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100vw;
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: red;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

