
h1{font-family: 'Playfair Display', serif;
    
    font-size: 28px;
}

h2{ font-family: 'Source Sans Pro', sans-serif;
   font-size: 18px; 
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;    
}
.head{
  text-align: center;
}

.coll1{
    background-color: lightgrey;
}

.coll2{
    background-color:lightgrey;
}

.coll3{
    background-color:lightgray;
}

.container{
    background-color: white;
}

.date{
    color: black;
    text-align: right;   
}

.day{
    text-align:left;
}

.col:hover{
 background-color: rgb(255, 174, 0);
}


.search{
  background-color: rgb(255, 174, 0);
  text-align: center;
  left: 80px;
  position: relative;
  color: white;
}

.btn{
  position: relative;
  left: 120px;
  width: 150px;
  padding: 4px;
  color:black;
  border-radius:20px;
  background-color: rgb(255, 174, 0);
}

.celsus{
  right: 30px;
}
.iconColor{
  fill: rgb(255, 174, 0);
}

.forecast{
    font-size: 20px;

}
 
.box:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 2px solid red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
 
  
 
  
@keyframes example {
      0%   {border-left: 2px solid #ffffff;}
      25%  {border-left: 3px solid #ffe6e6;}
      50%  {border-left: 4px solid #ff8080;}
      100% {border-left: 5px solid #ff0000;}
}

/*video*/

.video{
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}






