

.head{
  text-align: center;
  color: black;
  top: 265px;
  position: relative;
  
}

.acc{
    bottom: 50px;
}
.column1{
    background-color:lightgray;
    width: 20vw;
}

.column2{
    background-color:lightgray;
}

.column3{
    background-color:lightgray;
}

.textt{
    text-align: center;
}

.weekBtn{
    top:5px;
    position: relative;
}

.container{
    background-color: white;
    column-count: 3;
    column-gap: 40px;
}

.date{
    color: black;
    text-align: right;   
}

.day{
    text-align:left;
}

.col:hover{
 background-color: yellow;
}


.search{
  background-color: yellow;
  text-align: center;
  left: 80px;
  position: relative;
  color: white;
}

.btn{
  position: relative;
  left: 100px;
  
 
}

.celsus{
  right: 30px;
}
.iconColor{
  fill: yellow;
}
.icon1{
    position: relative;
    right: 10px;
}

.forecast{
    font-size: 20px;

}
 
.box:hover {
    
    
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 2px solid red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
 
  
 
  
@keyframes example {
      0%   {border-left: 2px solid #ffffff;}
      25%  {border-left: 3px solid #ffe6e6;}
      50%  {border-left: 4px solid #ff8080;}
      100% {border-left: 5px solid #ff0000;}
}

/*video*/

.video{
    width: 100vw;
    height:50vh;
    overflow: hidden;
}
 
.myVideo{
    height: 100%;
    width: 100%;
}
.gradient{
  background: linear-gradient(180deg, rgb(238, 229, 229,0) 0%, rgb(255, 255, 255,0.1) 50%, rgb(255, 255, 255) 100%);
  width: 100vw;
  height: 42vh;
  position: absolute;
  top:0px;
}
#data{
    
}